[Unit]
Description=subsonic container
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a subsonic
ExecStop=/usr/bin/docker stop -t 2 subsonic
Restart=on-failure

[Install]
WantedBy=multi-user.target
